.vs/agileProjectGroup4/FileContentIndex/8916b694-4ed8-44c8-9cd6-fa506ad82f52.vsidx
.vs/agileProjectGroup4/FileContentIndex/beefacaa-7b8f-4a25-bb54-6f914957dbed.vsidx
.vs/agileProjectGroup4/FileContentIndex/eab11b8a-1f26-4a68-8a48-e5bd3f52428c.vsidx
.vs/agileProjectGroup4/FileContentIndex/9471e6a0-5d31-49bd-8c53-aa2638fd67f5.vsidx
.vs/agileProjectGroup4/FileContentIndex/bb1eed63-78c2-461f-abe3-34c9f4ddb825.vsidx
.vs/agileProjectGroup4/FileContentIndex/beefacaa-7b8f-4a25-bb54-6f914957dbed.vsidx
.vs/agileProjectGroup4/FileContentIndex/2f1da953-27d9-4507-adba-468ac901d4d3.vsidx
.vs/agileProjectGroup4/FileContentIndex/ab0cde8d-8137-4bda-a424-abc695c2cbaf.vsidx
*.vsidx
*.vsidx
.vs/agileProjectGroup4/v17/Browse.VC.db
